@import '../../styles/variables/colors';
@import '../../styles/variables/dimensions';

.track-editor {
  .dots-container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .dot-item {
      position: relative;
      padding: 1rem 3rem 1rem 1.5rem;
      border: 1px solid $clr-separator;
      border-radius: $block-border-radius;
      box-shadow: $block-box-shadow;
      color: $text-dark;
      font-size: 1.6rem;
      margin-bottom: 1rem;
      cursor: grab;
      &:active {
        cursor: grabbing;
      }

      .ico-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        &:after {
          content: "\2716";
          font-size: 1.6rem;
          color: $text-middle;
          cursor: pointer;
        }
      }
    }
  }
}
